.banner-heading {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    background-color: #343a40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffc107;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px; 
    border: 2px solid #ffc107;
}


    
.donar-custom-card {
  background-color: #343a40; 
  border: 2px solid #ffc107; 
  color: #fff; 
}

.card-donar-body {
  display: flex;
  flex-direction: column;
}

.donar-options {
  display: flex;
  flex-wrap: wrap;
}

.donar-custom-button,
.donar-custom-button-transparent {
  background-color: #ffc107;
  border: 2px solid #ffc107;
  color: #fff;
  margin: 5px; 
  min-width: 100px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.donar-custom-button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #ffc107;
}

.donar-custom-button-transparent {
  background-color: transparent;
  border: 2px solid #ffc107;
  color: #ffc107;
}

.donar-custom-button-transparent:hover {
  cursor: pointer;
  background-color: #ffc107;
  color: #fff;
}



.rotate-image {
  transform: rotate(10deg);
}

.thank-you-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.fa-paw {
  margin-left: 5px;
  font-size: 16px;
}
