
.card:hover {
    opacity: 0.8; 
    transition: opacity 0.3s ease; 
  }
  
  .about-us-card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .about-us-card:hover {
    transform: rotateY(180deg);
  }
  
  .card-body {
    backface-visibility: hidden;
  }
  
  /* Estilos del contenido que se muestra al dar vuelta */
  .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000; 
    text-align: center;
    transform: rotateY(180deg);
  }
  
  .about-us-card:hover .hover-text {
    display: flex;
    transform: rotateY(0deg);
  }
  

  .hover-text p {
    color: #ffffff; 
    font-size: 1.1rem; 
    line-height: 1.5; 
    margin: 20px; 
    transform: rotateY(180deg);
  }
  