body{
    padding-top: 0px;
}
.bodypage{
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    min-height: 100vh;

    
}



.bodypage img{
    width: 50px;
    height: 50px;

}

.titles-panel-h3{
    color:#999;
}

.bodypage a{
    text-decoration: none;
}

.bodypage li{
    list-style: none;
}

.bodypage h1,
h2{
    color:#E4A11B
}
.btn-panel{
    background: #E4A11B;
    color: white;
    padding:  5px 10px;
    text-align: center;
    height: 40px;
}

.btn-panel:hover{
    color:#f05462;
    background: white;
    padding:  3px 8px;
    border:  2px solid;
}

.title-content-panel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom:  2px solid #999;
   
}

.table-content-panel{
    padding-top: 500px;
    padding: 10px;


}

.table-content-panel th, td{
    text-align: left;
    padding: 8px;

    
}
.side-menu-panel{

    position: fixed;
    background:  #212529;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu-panel .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.side-menu-panel li{
    font-size: 20px;
    padding:  10px 40px;
    color: #E4A11B;
    display: flex;
    align-items: center;
}

.side-menu-panel li:hover{
    background-color: white;
    color:#E4A11B
}

.container-panel{
    position: absolute;
    right: 0;
    width:  80vw;
    height:  100vh;
    background-image: url(https://www.nationalgeographic.com.es/medio/2023/11/24/corgi-y-gato-1_8c9e7bca_231124202120_1280x853.jpg);
}

.container-panel .header{
    position: fixed;
    top:0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 2;
    
}

.container-panel .header .nav{
    width: 90% ;
    display: flex;
    align-items: center;
}

.container-panel .header .nav .search{
    flex: 3;
    display:flex;
    justify-content: center;
    
}

.container-panel .header .nav .search input[type="text"]{
    border: none;
    background: #f1f1f1;
    padding:  8px; /*10px*/
    width: 50%;
}
.container-panel .header button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-panel .header button i{
    width: 30px;
    height: 30px;
}
.container-panel .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.container-panel .header .nav .user img{
    width: 40px;
    height: 30px;
}
.container-panel .header .nav .user .img-case{
        
    position: relative;
    width: 50px;
    height: 50px;
   

    
}

.container-panel .header .nav .user .img-case img{
        
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 80%;
}

.container-panel .content-panel{
    position: relative;
    margin-top: 10vh;
    min-height: 98vh;
    background-image: url(https://www.nationalgeographic.com.es/medio/2023/11/24/corgi-y-gato-1_8c9e7bca_231124202120_1280x853.jpg);
}

.container-panel .content-panel .cards-panel{

    padding:  20px 15px;
    display: flex;
    align-items:  center;
    justify-content:  space-around; /*space beetween si hay que agregar mas cards*/
    flex-wrap:  wrap;
 
    
}

.container-panel .content-panel .cards-panel .card-panel{
    width: 250px;
    height: 150px;
    background-color:  white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.container-panel .content-panel .content-panel-2{
    min-height:  60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  
}

.container-panel .content-panel .content-panel-2 .recent-payments{
    min-height: 50vh;
    flex:5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}

.container-panel .content-panel .content-panel-2 .new-students{
    flex:2;
    background: white;
    min-height:  50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.container-panel .content-panel .content-panel-2 .new-students table td:nth-child(1) img{
    height: 40px;
    width: 40px;
}


@media screen  and (max-width: 1050px) {
    .side-menu-panel li{
        font-size:15px
    }
}

@media screen  and (max-width: 940px) {

    .side-menu-panel li span{
        display: none;
    }
    .side-menu-panel{
        align-items: center;
    }
    .side-menu-panel li i{
        font-size: 30px;
    }
    .side-menu-panel li:hover{
        background: grey;
        padding: 8px 38px;
        border: 2px solid white;
    }
}


@media screen  and (max-width: 536px) {
    .brand-name h1{
        font-size: 16px;
    }
   .container-panel .content-panel .cards-panel{
    justify-content: center;
   }
   .side-menu-panel li i{
    font-size: 20px;
    padding-right: 20px;
   }

   .container-panel .content-panel .content-panel-2 .recent-payments table th:nth-child(2),

   .container-panel .content-panel .content-panel-2 .recent-payments table td:nth-child(2){
    display: none;
   }
}